.orderdetails-img{
    height: 20vh;
    width: 20vw;
}
.Orderdetails-card{
    display: flex;
    /* justify-content: center;  */
    align-items: start;
    margin-left: 50%;
    margin-top: 30px;
    
}
.orderdetails-body{
    gap: 30px;
}